<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tela de Chat</title>
    <link rel="stylesheet" href="/css/chat/chat.css">

</head>

<body>
    <div class="sidebar">
        <div>
            <h2>Conversas</h2>
            <div style="width: 100%; height: 2px; background-color: #414141;"></div>
        </div>


        <input type="text" placeholder="Buscar" />
        
    </div>

    <div class="chat-container">
        <div class="chat-header">
            <img src="https://via.placeholder.com/40" alt="avatar" />
            <span>Usuário 1</span>
        </div>
        <div class="messages">
            <div class="message user">Me envie o arquivo que você tem em mente</div>
            <div class="message other">
                Esse design está maravilhoso! adsdadadsadadaddasdada
                dadsdadadadsadasdasdadadsasdadasdasdasdasdasdasdadadada
            </div>
            <div class="message user">
                Acho que está bom assim, textos espaçados, bl bla bla, dá para escrever bem e o design se ajusta
                facilmente
                aaaaaaaaaaaaaa aaaaaa aaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            </div>
        </div>

        <div class="input-area">
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="20px" height="20px" viewBox="0 0 24 24"
                    stroke="white">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
                </svg>
            </button>
            <input type="text" placeholder="Digite uma mensagem..." />
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="20px" height="20px">
                    <path
                        d="M3.478 2.404a.75.75 0 0 0-.926.941l2.432 7.905H13.5a.75.75 0 0 1 0 1.5H4.984l-2.432 7.905a.75.75 0 0 0 .926.94 60.519 60.519 0 0 0 18.445-8.986.75.75 0 0 0 0-1.218A60.517 60.517 0 0 0 3.478 2.404Z" />
                </svg></button>
        </div>

        <div class="nenhum-contato-selecionado">
            <p>Selecione um contato para iniciar a conversa</p>
        </div>
    </div>
</body>
<script type="module" src="/js/chat/chat.js"></script>

</html>