<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tela de Chat</title>
    <link rel="stylesheet" href="/css/chat/chat.css">

</head>

<body>
    <div class="sidebar">
        <div>
            <h2>Conversas</h2>
            <div style="width: 100%; height: 2px; background-color: #414141;"></div>
        </div>


        <input type="text" placeholder="Buscar" />

    </div>

    <div class="chat-container">
        <div class="chat-header">
            <img src="https://via.placeholder.com/40" alt="avatar" />
            <span>Usuário 1</span>
        </div>
        <div class="messages">
            <div class="message user">Me envie o arquivo que você tem em mente</div>
            <div class="message other">
                Esse design está maravilhoso! adsdadadsadadaddasdada
                dadsdadadadsadasdasdadadsasdadasdasdasdasdasdasdadadada
            </div>
            <div class="message user">
                Acho que está bom assim, textos espaçados, bl bla bla, dá para escrever bem e o design se ajusta
                facilmente
                aaaaaaaaaaaaaa aaaaaa aaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            </div>
        </div>

        <div class="input-area">
            <button class="btnAnexos" id="btnAnexos">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="20px" height="20px" viewBox="0 0 24 24"
                    stroke="white">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
                </svg>
            </button>
            <input type="text" placeholder="Digite uma mensagem..." />
            <button id="btnEnviar">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="20px" height="20px">
                    <path
                        d="M3.478 2.404a.75.75 0 0 0-.926.941l2.432 7.905H13.5a.75.75 0 0 1 0 1.5H4.984l-2.432 7.905a.75.75 0 0 0 .926.94 60.519 60.519 0 0 0 18.445-8.986.75.75 0 0 0 0-1.218A60.517 60.517 0 0 0 3.478 2.404Z" />
                </svg>
            </button>

            <div class="menu-anexos" id="menuAnexos">
                <button id="anexarProjeto">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                            d="M10 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z" />
                    </svg>
                    Projeto
                </button>
                <button id="anexarLink">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                            d="M3.9 12a5 5 0 0 0 0 7.1 5 5 0 0 0 7.1 0l3-3a1 1 0 1 0-1.4-1.4l-3 3a3 3 0 1 1-4.2-4.2l3-3a1 1 0 0 0-1.4-1.4l-3 3zm16.2 0a5 5 0 0 0-7.1 0l-3 3a1 1 0 0 0 1.4 1.4l3-3a3 3 0 1 1 4.2 4.2l-3 3a1 1 0 1 0 1.4 1.4l3-3a5 5 0 0 0 0-7.1z" />
                    </svg>
                    Link
                </button>
            </div>
        </div>

        <div class="nenhum-contato-selecionado">
            <p>Selecione um contato para iniciar a conversa</p>
        </div>
    </div>

    <div id="modalLink" class="modal-overlay">
        <div class="modal">
            <h2>Anexar Link</h2>
            <div class="modal-header-separator"></div>

            <input type="text" placeholder="Cole o link aqui" id="inputLink" />
            <button>Anexar</button>
        </div>
    </div>

    <div id="modalProjeto" class="modal-overlay">
        <div class="modal">
            <h2>Escolha um Projeto para Anexar</h2>
            <div class="modal-header-separator"></div>
            <div class="modal-tabs">
                <button class="active" data-tab="seus">
                    <!-- 📁 -->
                    <svg viewBox="0 0 24 24">
                        <path
                            d="M10 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z" />
                    </svg>
                    Seus Projetos
                </button>
                <button data-tab="curtidos">
                    <!-- ❤️ -->
                    <svg viewBox="0 0 24 24">
                        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 
        4.42 3 7.5 3c1.74 0 3.41 0.81 
        4.5 2.09C13.09 3.81 14.76 3 
        16.5 3 19.58 3 22 5.42 22 
        8.5c0 3.78-3.4 6.86-8.55 
        11.54L12 21.35z" />
                    </svg>
                    Curtidos
                </button>
                <button data-tab="favoritos">
                    <!-- ⭐ -->
                    <svg viewBox="0 0 24 24">
                        <path d="M12 17.27L18.18 21l-1.64-7.03
         L22 9.24l-7.19-.61L12 2 9.19
          8.63 2 9.24l5.46 4.73L5.82 
          21z" />
                    </svg>
                    Favoritos
                </button>
            </div>
            <div id="projetosLista" class="projetos-lista">
                <!-- Aqui serão renderizados os cards -->
            </div>
        </div>
    </div>
</body>
<script type="module" src="/js/chat/chat.js"></script>
<script type="module" src="/js/chat/anexosChat.js"></script>

</html>