.freelancers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 15px;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0;
}

.name {
  transition: 0.3s ease;
}

.name:hover {
  background-color: var(--base-100);
  border-color: var(--base-50);
  transition: 0.3s ease;
}

.stat-item {
  transition: flex 0.3s ease;
}

.stat-item:hover  {
  flex: 2;
  transition: flex 0.3s ease;
}