.section-1 {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    justify-content: left;
    display: flex;
    align-items: center;
}

.conteudo {
    width: 30%;
    padding: 15px;
    background-color: var(--background);
    height: 100%;
}
.topo{
    display: flex;
    flex-direction: column;
    color: var(--white);
    margin-top: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.topo h1{
    padding-top: 20px;
}



.banner {
    width: 70%;
    height: 100%;
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: left;
}

.botao {
    font-family: "Work Sans", sans-serif;
    font-size: var(--f2);
    color: var(--white);
    text-align: left;
    padding-top: 20px;

}

.botao button {
    color: var(--white);
    background-color: var(--gray);
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    padding-inline: 20px;
    width: 100%;
    height: 180px;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: normal;
    transition: 200ms linear;
}

.botao button:hover {
    background-color: var(--primary);
    transition: 200ms linear;
}

.entrar button:hover {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    transition: 200ms linear;
}

.botao button span {
    font-size: 12px;
    font-weight: 400;
}

.entrar {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.entrar button {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--white);
    color: var(--white);
    transition: 200ms linear;
}

.slogan {
    font-size: var(--f3) ;
    color: var(--white);
    
}

.slogan h1{ 
    font-weight: 800;
}
@media (max-width: 768px) {
    .banner {
        display: none;
        width: 100%;
    }
    .conteudo {
        width: 100%;
    }
}