<link rel="stylesheet" href="/css/profile/profile.css">

<section class="section-1">
  <div class="banner" id="banner">
    <img id="imgBanner" src="default-banner.jpg" alt="banner" style="cursor:pointer;">
  </div>
</section>

<input type="file" id="inputBanner" accept="image/*" style="display:none;">


<section class="section-2">
    <div class="container-1">
        <div class="card-infos">
                <div class="container-card-1">
                    <div class="profile-pic">
                        <img src="" alt="pic">
                    </div>
                    <div class="nome">
                        <h1>Nome</h1>
                        <div class="tag">
                            <p>UI Designer</p>
                        </div>
                    </div>
                    <div class="experiencia">
                        <span>Profissional</span>
                        <div class="exp-blocks">
                            <div class="exp"></div>
                            <div class="exp"></div>
                            <div class="exp"></div>
                            <div class="exp"></div>
                        </div>
                    </div>
                <div class="container-card-2">
                    <div class="descricao">
                        <p>Olá, estou em busca de um especialista em tráfego pago para
                            gerenciar e otimizar campanhas no Instagram, com o objetivo de atrair
                            novos clientes e aumentar as vendas da minha empresa. Sou correspondente
                            bancário e o ig da minha empresa para avaliação</p>
                    </div>
                </div>
            </div>
            <div class="container-card-3">
                <div class="container-card-3-3">
                    <div class="container-infos projetos-realizados">
                        <span class="quantidade">10</span>
                        <p>Projetos realizados</p>
                    </div>
                    <div class="container-infos propostas-finalizadas">
                        <span class="quantidade">10</span>
                        <p>Propostas finalizadas</p>
                    </div>
                </div>
                    <!-- Botão para abrir o modal -->
<button class="editarinfos" onclick="abrirModal()">Editar informações</button>

<!-- Modal -->
<div id="modal-editar" class="modal">
  <div class="modal-conteudo">
    <span class="fechar" onclick="fecharModal()">&times;</span>
    <h2>Editar Perfil</h2>
    <form id="form-editar">
      <label for="fotoPerfil">Foto de Perfil:</label>
      <input type="file" id="fotoPerfil" accept="image/*"><br>

      <label for="nome">Nome:</label>
      <input type="text" id="nome" placeholder="Digite seu nome"><br>

      <label for="tag">Tag (Cargo):</label>
      <input type="text" id="tag" placeholder="Ex: UI Designer"><br>

      <label for="bio">Biografia:</label>
      <textarea id="bio" rows="4" placeholder="Fale um pouco sobre você..."></textarea><br>

      <button type="submit">Salvar alterações</button>
    </form>
  </div>
</div>

            </div>
        </div>
    </div>
    <div class="container-2">
        <main class="card-zone">
            <div class="card_projeto">
                <div class="capa">
                    <figure>
                        <img src="" alt="" class="thumbnail">
                    </figure>
                    <div class="thumbnail-overlay">
                        <div class="project-overlay-content">
                            <div class="like">
                                <svg width="25" height="25" viewBox="-2 -2 28 28" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M10.2366 18.4731L18.35 10.3598L18.483 10.2267L18.4809 10.2246C20.6263 7.93881 20.5826 4.34605 18.35 2.11339C16.1173 -0.11928 12.5245 -0.16292 10.2387 1.98247L10.2366 1.98036L10.2366 1.98039L10.2366 1.98037L10.2345 1.98247C7.94862 -0.162927 4.35586 -0.119289 2.12319 2.11338C-0.109476 4.34605 -0.153114 7.93881 1.99228 10.2246L1.99017 10.2268L10.2365 18.4731L10.2366 18.4731L10.2366 18.4731Z"
                                        fill="none" stroke="black" />
                                </svg>
                            </div>
                            <div class="project-title">
                                <h1>Project 1</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="autor">
                    <img src="" alt="Profile pic">
                    <h2 class="username">User</h2>
                </div>
            </div>
            <div class="card_projeto">
                <div class="capa">
                    <figure>
                        <img src="" alt="" class="thumbnail">
                    </figure>
                    <div class="thumbnail-overlay">
                        <div class="project-overlay-content">
                            <div class="like">
                                <svg width="25" height="25" viewBox="-2 -2 28 28" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M10.2366 18.4731L18.35 10.3598L18.483 10.2267L18.4809 10.2246C20.6263 7.93881 20.5826 4.34605 18.35 2.11339C16.1173 -0.11928 12.5245 -0.16292 10.2387 1.98247L10.2366 1.98036L10.2366 1.98039L10.2366 1.98037L10.2345 1.98247C7.94862 -0.162927 4.35586 -0.119289 2.12319 2.11338C-0.109476 4.34605 -0.153114 7.93881 1.99228 10.2246L1.99017 10.2268L10.2365 18.4731L10.2366 18.4731L10.2366 18.4731Z"
                                        fill="none" stroke="black" />
                                </svg>
                            </div>
                            <div class="project-title">
                                <h1>Project 1</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="autor">
                    <img src="" alt="Profile pic">
                    <h2 class="username">User</h2>
                </div>
            </div>
            <div class="card_projeto">
                <div class="capa">
                    <figure>
                        <img src="" alt="" class="thumbnail">
                    </figure>
                    <div class="thumbnail-overlay">
                        <div class="project-overlay-content">
                            <div class="like">
                                <svg width="25" height="25" viewBox="-2 -2 28 28" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M10.2366 18.4731L18.35 10.3598L18.483 10.2267L18.4809 10.2246C20.6263 7.93881 20.5826 4.34605 18.35 2.11339C16.1173 -0.11928 12.5245 -0.16292 10.2387 1.98247L10.2366 1.98036L10.2366 1.98039L10.2366 1.98037L10.2345 1.98247C7.94862 -0.162927 4.35586 -0.119289 2.12319 2.11338C-0.109476 4.34605 -0.153114 7.93881 1.99228 10.2246L1.99017 10.2268L10.2365 18.4731L10.2366 18.4731L10.2366 18.4731Z"
                                        fill="none" stroke="black" />
                                </svg>
                            </div>
                            <div class="project-title">
                                <h1>Project 1</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="autor">
                    <img src="" alt="Profile pic">
                    <h2 class="username">User</h2>
                </div>
            </div>
            <div class="card_projeto">
                <div class="capa">
                    <figure>
                        <img src="" alt="" class="thumbnail">
                    </figure>
                    <div class="thumbnail-overlay">
                        <div class="project-overlay-content">
                            <div class="like">
                                <svg width="25" height="25" viewBox="-2 -2 28 28" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M10.2366 18.4731L18.35 10.3598L18.483 10.2267L18.4809 10.2246C20.6263 7.93881 20.5826 4.34605 18.35 2.11339C16.1173 -0.11928 12.5245 -0.16292 10.2387 1.98247L10.2366 1.98036L10.2366 1.98039L10.2366 1.98037L10.2345 1.98247C7.94862 -0.162927 4.35586 -0.119289 2.12319 2.11338C-0.109476 4.34605 -0.153114 7.93881 1.99228 10.2246L1.99017 10.2268L10.2365 18.4731L10.2366 18.4731L10.2366 18.4731Z"
                                        fill="none" stroke="black" />
                                </svg>
                            </div>
                            <div class="project-title">
                                <h1>Project 1</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="autor">
                    <img src="" alt="Profile pic">
                    <h2 class="username">User</h2>
                </div>
            </div>
            <div class="card_projeto">
                <div class="capa">
                    <figure>
                        <img src="" alt="" class="thumbnail">
                    </figure>
                    <div class="thumbnail-overlay">
                        <div class="project-overlay-content">
                            <div class="like">
                                <svg width="25" height="25" viewBox="-2 -2 28 28" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M10.2366 18.4731L18.35 10.3598L18.483 10.2267L18.4809 10.2246C20.6263 7.93881 20.5826 4.34605 18.35 2.11339C16.1173 -0.11928 12.5245 -0.16292 10.2387 1.98247L10.2366 1.98036L10.2366 1.98039L10.2366 1.98037L10.2345 1.98247C7.94862 -0.162927 4.35586 -0.119289 2.12319 2.11338C-0.109476 4.34605 -0.153114 7.93881 1.99228 10.2246L1.99017 10.2268L10.2365 18.4731L10.2366 18.4731L10.2366 18.4731Z"
                                        fill="none" stroke="black" />
                                </svg>
                            </div>
                            <div class="project-title">
                                <h1>Project 1</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="autor">
                    <img src="" alt="Profile pic">
                    <h2 class="username">User</h2>
                </div>
            </div>
            <div class="card_projeto">
                <div class="capa">
                    <figure>
                        <img src="" alt="" class="thumbnail">
                    </figure>
                    <div class="thumbnail-overlay">
                        <div class="project-overlay-content">
                            <div class="like">
                                <svg width="25" height="25" viewBox="-2 -2 28 28" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M10.2366 18.4731L18.35 10.3598L18.483 10.2267L18.4809 10.2246C20.6263 7.93881 20.5826 4.34605 18.35 2.11339C16.1173 -0.11928 12.5245 -0.16292 10.2387 1.98247L10.2366 1.98036L10.2366 1.98039L10.2366 1.98037L10.2345 1.98247C7.94862 -0.162927 4.35586 -0.119289 2.12319 2.11338C-0.109476 4.34605 -0.153114 7.93881 1.99228 10.2246L1.99017 10.2268L10.2365 18.4731L10.2366 18.4731L10.2366 18.4731Z"
                                        fill="none" stroke="black" />
                                </svg>
                            </div>
                            <div class="project-title">
                                <h1>Project 1</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="autor">
                    <img src="" alt="Profile pic">
                    <h2 class="username">User</h2>
                </div>
            </div>
            <div class="card_projeto">
                <div class="capa">
                    <figure>
                        <img src="" alt="" class="thumbnail">
                    </figure>
                    <div class="thumbnail-overlay">
                        <div class="project-overlay-content">
                            <div class="like">
                                <svg width="25" height="25" viewBox="-2 -2 28 28" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M10.2366 18.4731L18.35 10.3598L18.483 10.2267L18.4809 10.2246C20.6263 7.93881 20.5826 4.34605 18.35 2.11339C16.1173 -0.11928 12.5245 -0.16292 10.2387 1.98247L10.2366 1.98036L10.2366 1.98039L10.2366 1.98037L10.2345 1.98247C7.94862 -0.162927 4.35586 -0.119289 2.12319 2.11338C-0.109476 4.34605 -0.153114 7.93881 1.99228 10.2246L1.99017 10.2268L10.2365 18.4731L10.2366 18.4731L10.2366 18.4731Z"
                                        fill="none" stroke="black" />
                                </svg>
                            </div>
                            <div class="project-title">
                                <h1>Project 1</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="autor">
                    <img src="" alt="Profile pic">
                    <h2 class="username">User</h2>
                </div>
            </div>
            <div class="card_projeto">
                <div class="capa">
                    <figure>
                        <img src="" alt="" class="thumbnail">
                    </figure>
                    <div class="thumbnail-overlay">
                        <div class="project-overlay-content">
                            <div class="like">
                                <svg width="25" height="25" viewBox="-2 -2 28 28" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M10.2366 18.4731L18.35 10.3598L18.483 10.2267L18.4809 10.2246C20.6263 7.93881 20.5826 4.34605 18.35 2.11339C16.1173 -0.11928 12.5245 -0.16292 10.2387 1.98247L10.2366 1.98036L10.2366 1.98039L10.2366 1.98037L10.2345 1.98247C7.94862 -0.162927 4.35586 -0.119289 2.12319 2.11338C-0.109476 4.34605 -0.153114 7.93881 1.99228 10.2246L1.99017 10.2268L10.2365 18.4731L10.2366 18.4731L10.2366 18.4731Z"
                                        fill="none" stroke="black" />
                                </svg>
                            </div>
                            <div class="project-title">
                                <h1>Project 1</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="autor">
                    <img src="" alt="Profile pic">
                    <h2 class="username">User</h2>
                </div>
            </div>
            <div class="card_projeto">
                <div class="capa">
                    <figure>
                        <img src="" alt="" class="thumbnail">
                    </figure>
                    <div class="thumbnail-overlay">
                        <div class="project-overlay-content">
                            <div class="like">
                                <svg width="25" height="25" viewBox="-2 -2 28 28" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M10.2366 18.4731L18.35 10.3598L18.483 10.2267L18.4809 10.2246C20.6263 7.93881 20.5826 4.34605 18.35 2.11339C16.1173 -0.11928 12.5245 -0.16292 10.2387 1.98247L10.2366 1.98036L10.2366 1.98039L10.2366 1.98037L10.2345 1.98247C7.94862 -0.162927 4.35586 -0.119289 2.12319 2.11338C-0.109476 4.34605 -0.153114 7.93881 1.99228 10.2246L1.99017 10.2268L10.2365 18.4731L10.2366 18.4731L10.2366 18.4731Z"
                                        fill="none" stroke="black" />
                                </svg>
                            </div>
                            <div class="project-title">
                                <h1>Project 1</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="autor">
                    <img src="" alt="Profile pic">
                    <h2 class="username">User</h2>
                </div>
            </div>
            <div class="card_projeto">
                <div class="capa">
                    <figure>
                        <img src="" alt="" class="thumbnail">
                    </figure>
                    <div class="thumbnail-overlay">
                        <div class="project-overlay-content">
                            <div class="like">
                                <svg width="25" height="25" viewBox="-2 -2 28 28" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M10.2366 18.4731L18.35 10.3598L18.483 10.2267L18.4809 10.2246C20.6263 7.93881 20.5826 4.34605 18.35 2.11339C16.1173 -0.11928 12.5245 -0.16292 10.2387 1.98247L10.2366 1.98036L10.2366 1.98039L10.2366 1.98037L10.2345 1.98247C7.94862 -0.162927 4.35586 -0.119289 2.12319 2.11338C-0.109476 4.34605 -0.153114 7.93881 1.99228 10.2246L1.99017 10.2268L10.2365 18.4731L10.2366 18.4731L10.2366 18.4731Z"
                                        fill="none" stroke="black" />
                                </svg>
                            </div>
                            <div class="project-title">
                                <h1>Project 1</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="autor">
                    <img src="" alt="Profile pic">
                    <h2 class="username">User</h2>
                </div>
            </div>
            <div class="card_projeto">
                <div class="capa">
                    <figure>
                        <img src="" alt="" class="thumbnail">
                    </figure>
                    <div class="thumbnail-overlay">
                        <div class="project-overlay-content">
                            <div class="like">
                                <svg width="25" height="25" viewBox="-2 -2 28 28" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M10.2366 18.4731L18.35 10.3598L18.483 10.2267L18.4809 10.2246C20.6263 7.93881 20.5826 4.34605 18.35 2.11339C16.1173 -0.11928 12.5245 -0.16292 10.2387 1.98247L10.2366 1.98036L10.2366 1.98039L10.2366 1.98037L10.2345 1.98247C7.94862 -0.162927 4.35586 -0.119289 2.12319 2.11338C-0.109476 4.34605 -0.153114 7.93881 1.99228 10.2246L1.99017 10.2268L10.2365 18.4731L10.2366 18.4731L10.2366 18.4731Z"
                                        fill="none" stroke="black" />
                                </svg>
                            </div>
                            <div class="project-title">
                                <h1>Project 1</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="autor">
                    <img src="" alt="Profile pic">
                    <h2 class="username">User</h2>
                </div>
            </div>
            <div class="card_projeto">
                <div class="capa">
                    <figure>
                        <img src="" alt="" class="thumbnail">
                    </figure>
                    <div class="thumbnail-overlay">
                        <div class="project-overlay-content">
                            <div class="like">
                                <svg width="25" height="25" viewBox="-2 -2 28 28" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M10.2366 18.4731L18.35 10.3598L18.483 10.2267L18.4809 10.2246C20.6263 7.93881 20.5826 4.34605 18.35 2.11339C16.1173 -0.11928 12.5245 -0.16292 10.2387 1.98247L10.2366 1.98036L10.2366 1.98039L10.2366 1.98037L10.2345 1.98247C7.94862 -0.162927 4.35586 -0.119289 2.12319 2.11338C-0.109476 4.34605 -0.153114 7.93881 1.99228 10.2246L1.99017 10.2268L10.2365 18.4731L10.2366 18.4731L10.2366 18.4731Z"
                                        fill="none" stroke="black" />
                                </svg>
                            </div>
                            <div class="project-title">
                                <h1>Project 1</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="autor">
                    <img src="" alt="Profile pic">
                    <h2 class="username">User</h2>
                </div>
            </div>
            <div class="card_projeto">
                <div class="capa">
                    <figure>
                        <img src="" alt="" class="thumbnail">
                    </figure>
                    <div class="thumbnail-overlay">
                        <div class="project-overlay-content">
                            <div class="like">
                                <svg width="25" height="25" viewBox="-2 -2 28 28" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M10.2366 18.4731L18.35 10.3598L18.483 10.2267L18.4809 10.2246C20.6263 7.93881 20.5826 4.34605 18.35 2.11339C16.1173 -0.11928 12.5245 -0.16292 10.2387 1.98247L10.2366 1.98036L10.2366 1.98039L10.2366 1.98037L10.2345 1.98247C7.94862 -0.162927 4.35586 -0.119289 2.12319 2.11338C-0.109476 4.34605 -0.153114 7.93881 1.99228 10.2246L1.99017 10.2268L10.2365 18.4731L10.2366 18.4731L10.2366 18.4731Z"
                                        fill="none" stroke="black" />
                                </svg>
                            </div>
                            <div class="project-title">
                                <h1>Project 1</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="autor">
                    <img src="" alt="Profile pic">
                    <h2 class="username">User</h2>
                </div>
            </div>
        </main>
    </div>
    
</section>
<script>
    const inputFotoPerfil = document.getElementById('fotoPerfil'); 
const userPhotoDiv = document.querySelector('.userPhoto'); 

inputFotoPerfil.addEventListener('change', (event) => {
  const file = event.target.files[0];
  if (file && userPhotoDiv) {
    const imageURL = URL.createObjectURL(file);
    userPhotoDiv.style.backgroundImage = `url('${imageURL}')`;

    const imgPerfilModal = document.querySelector('.profile-pic img');
    if (imgPerfilModal) imgPerfilModal.src = imageURL;
  }
});

</script>
  <script>
  function abrirModal() {
    document.getElementById('modal-editar').style.display = 'block';
  }

  function fecharModal() {
    document.getElementById('modal-editar').style.display = 'none';
  }

  window.onclick = function(event) {
    const modal = document.getElementById('modal-editar');
    if (event.target === modal) {
      modal.style.display = "none";
    }
  }
</script>
<script>
  const formEditar = document.getElementById('form-editar');

  formEditar.addEventListener('submit', function(event) {
    event.preventDefault(); 

    const inputNome = document.getElementById('nome').value.trim();
    const inputTag = document.getElementById('tag').value.trim();
    const inputBio = document.getElementById('bio').value.trim();

    const h1Nome = document.querySelector('.nome h1');
    const pTag = document.querySelector('.tag p');
    const pBio = document.querySelector('.descricao p');

    if (inputNome) h1Nome.textContent = inputNome;
    if (inputTag) pTag.textContent = inputTag;
    if (inputBio) pBio.textContent = inputBio;

    const inputFoto = document.getElementById('fotoPerfil');
    if (inputFoto.files && inputFoto.files[0]) {
      const reader = new FileReader();
      reader.onload = function(e) {
        const imgPerfil = document.querySelector('.profile-pic img');
        imgPerfil.src = e.target.result;
      };
      reader.readAsDataURL(inputFoto.files[0]);
    }

    fecharModal();

    formEditar.reset();
  });
</script>
<script>
  const banner = document.getElementById('banner');
  const imgBanner = document.getElementById('imgBanner');
  const inputBanner = document.getElementById('inputBanner');

  banner.addEventListener('click', () => {
    inputBanner.click(); // abre o seletor de arquivo
  });

  inputBanner.addEventListener('change', () => {
    const file = inputBanner.files[0];
    if (file) {
      const url = URL.createObjectURL(file);
      imgBanner.src = url;
    }
  });
</script>


