@import "../globals/globals.css";
@import "../index/partials/nav.css";

@import "partials/layout.css";
@import "partials/filters.css";
@import "partials/background.css";
@import "partials/proposal-cards.css";
.profile-link .client-name {
  color: white;
}
.profile-link {
  display: flex;
  align-items: center;  
  gap: 8px;            
  color: white;
  text-decoration: none;
}

.profile-link .client-name {
  color: white;
  font-size: 1rem;      
}
