<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de pesquisa</title>
    <link rel="stylesheet" href="/css/search/searchpage.css" />
</head>
<body>
    <section class="header pd-y-2">
        <div class="titulo pd-x-3">
            <h2 class="text-3xl text-white">20 resultados encontrados para "Design"</h2>
        </div>
        <div class="filtros w-full flex flex-row pd-x-3 flex justify-between">
            <div class="filterPesquisa">
                <button class="btn btn-gray flex flex-row gap-3"><ion-icon name="funnel-outline"></ion-icon>filtrar</button>
            </div>
            <div class="tipoPesquisa pd-1 gap-2 rounded-md bg-gray-50 flex flex-row items-center justify-between">
                <p class="tag btn btn-gray-75 pd-x-2 pd-y-2 h-full bg-gray-50 rounded-md mg-0">Projetos</p>
                <p class="tag btn btn-gray pd-x-2 pd-y-2 h-full bg-gray-50 rounded-md mg-0">Freelancers</p>
                <p class="tag btn btn-gray pd-x-2 pd-y-2 h-full bg-gray-50 rounded-md mg-0">Propostas</p>
            </div>
        </div>
    </section>
    <section class="searchResults pd-x-3">
        <div class="resultado">
            <main class="card-zone" id="card-zone">
            
            </main>
        </div>
    </section>
</body>
<script type="module" src="/js/projects/mostrarProjeto.js"></script>
</html>