@import "../globals/globals.css";
@import "partials/freelancers-card.css";

.select-filter {
    max-width: 200px;
    width: 100%;
}

@media (max-width: 655px) {
    .category {
        width: 100%;
        max-width: none;
    }
    .select-filter {
        width: 100%;
        max-width: none;
    }
}