@import "../../globals/globals.css";

body {
    background-color: var(--gray-100);
    opacity: 1;
    background-image: radial-gradient(var(--gray-25) 0.65px, #000000 0.65px);
    background-size: 13px 13px;
}

.topbar {
    position: fixed;
}

.addbutton {
    position: fixed;
    top: 100;
    bottom: 0;
}
